<AddModule Include=Pessoa />
@{
    ViewBag.Title = "Estudos ASPNET MVC";
}

<h2>David Lucas</h2>
<br />
<br />

<form action="Home/List" method="GET">
    <fieldset>
        <legend>INFORMAÇÔES DE PESSOAS</legend>

        <div>
            <label for="IDLABEL">ID PESSOA</label>
        </div>
        <div>
            <input type="number" value=@Model.PessoasID name="IDPESSOA" />
        </div>


        <div>
            <label>NOME</label>
        </div>
        <div>
            <input type="text" value=@Model.Nome name="NOMEPESSOA" />
        </div>


        <div>
            <label>TIPO</label>
        </div>
        <div>
            <input type="text" value=@Model.Tipo name="TIPO" />
        </div>


        @*BOTÃO DE GRAVAR NO INDEX*@
        <input type="submit" name="BOTÃOGRAVAR" value="Gravar" />

    </fieldset>
</form>
