@model ASPNET_MVC5.Models.Pessoa


@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    <label><b>ID</b></label>
</div>
<div>
   <p>@Model.PessoasID</p>
</div>

<div>
    <label><b>NOME</b></label>
</div>
<div>
    <p>@Model.Nome</p>
</div>

<div>
    <label><b>TIPO</b></label>
</div>
<div>
    <p>@Model.Tipo</p>
</div>
<a href="~/">Voltar ao HOME</a>