
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    <label><b>ID</b></label>
</div>
<div>
   <p>@ViewData["PessoasID"]</p>
</div>

<div>
    <label><b>NOME</b></label>
</div>
<div>
    <p>@ViewData["Nome"]</p>
</div>

<div>
    <label><b>TIPO</b></label>
</div>
<div>
    <p>@ViewData["Tipo"]</p>
</div>
<a href="~/">Voltar ao HOME</a>