
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    <label><b>ID</b></label>
</div>
<div>
    @ViewData["PessoasID"];
</div>

<div>
    <label><b>NOME</b></label>
</div>
<div>
    @ViewData["Nome"];
</div>

<div>
    <label><b>TIPO</b></label>
</div>
<div>
    @ViewData["Tipo"];
</div>
<a href="~/">Voltar ao HOME</a>